#projects > * {
    margin: 40px;
}

#projects {
    background: #557A95;
    color:  #eaebed;
}

#projects > h1 {
    color: #eaebed;
}

@keyframes leftSlideIn {
    0% {margin-right: 100%}
    100% {margin-right: 0%}
 }

.projectDiv {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideIn {
    animation-name: leftSlideIn;
    animation-duration: 1s;
}

.projectDiv > img {
    width: 45%;
    height: 100%; 
    border-radius: 15px;
    box-shadow: #5D5C61 8px 8px 15px;
}

.descriptionDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.descriptionDiv > * {
    margin: 15px;
}

.descriptionDiv > h2 {
    color: #5D5C61;
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
}


.descriptionDiv > a {
    text-decoration: none;
    color: #eaebed;

}

.descriptionDiv > a:hover {
    color: #5D5C61;
}